@charset "utf-8";

* { margin: 0; padding: 0; }
body,html { width: 100%; font-family:"Binggrae-Bold","sans-serif"; overflow-x: hidden; }
ul { list-style-type: none; }
a { text-decoration: none; }

.wrap { width: 100vw; height: 100vh; }
.clr { clear: both; }
.clr:after { content:" "; clear:both; display: block; }

/* header */
.hd { width: 100%; background-color: #000; height: 10%;  }
.hd .t_logo { display: block; width: 200px; height: 64px; float:left; }
.hd .t_logo img { display: block ; width: 100%; height: 90%; margin-left: 5% ; margin-top: 1.5%     }
.hd .open { display: block; color:#fff; width: 20%; height: 100%; float: right; position: relative; }
.hd .open span { display: block; position: absolute; width: 50%; height: 5px; background-color: #fff; z-index: 99;  border-radius: 3px; transition: 0.3s;  }
.hd .open span.bar1 { left: 10%; top: 25%; }
.hd .open span.bar2 { left: 10%; top: 45%; }
.hd .open span.bar3 { left: 10%; top: 65%; }

.hd .checkbox { display: none; }

.left_fix { width: 100%; height: 600px; background-color:#000 ; z-index: 99; float: left;  display: none; overflow: hidden; position: fixed; border-top:1px solid #fff;  top: 10%; }
.left_fix .lj_box { width: 100%; height:60px; border:1px solid #fff;}
.left_fix .lj_box a { display: block; width: 49.5%; float:left; text-align: center; line-height: 60px; background-color: #000; color:#aaa; font-weight: 600; }
.left_fix .lj_box a:hover { background-color: #ececec; color:#000; font-weight: 900 ;  }

#btn:checked ~ .left_fix {  display: block; }
#btn:checked ~ .open .bar1 { top:49%;transform:rotate(45deg);}
#btn:checked ~ .open .bar2 { opacity: 0; }
#btn:checked ~ .open .bar3 { top:49%; transform:rotate(135deg);}

.left_fix .tnb { width: 100%; height: 100%; margin: 0 auto;  }
.left_fix .tnb > li { width:50vw; position: relative;  text-align: left;  }
.left_fix .tnb li label { display: block;   line-height: 4.0;  font-weight: 900; cursor: pointer;  box-sizing: border-box;  font-size:20px;  color: #aaa; padding-left: 15%; }

/*여기 고치기: 라디오 버튼이나 on 클래스사*/
.left_fix .tnb li label:hover { background-color: #ececec; color:#000;  }
.left_fix .tnb li label:hover ~ .sub { opacity: 1; visibility: visible; }

/* 서브메뉴: ul.에 공통 포지션 주면 됨*/
.left_fix .tnb .sub { position:absolute; width: 50vw; height:40px; top: 0; left: 100%; transition: 0.4s; opacity: 0; visibility: hidden;  box-sizing: border-box; background-color:#ececec; height: 100vh;}
/* 백그라운드 깔아주기 각각 서브배경에 하나의 그림으로! */
.left_fix .tnb .sub li { clear:both; width: 100%; }
.left_fix .tnb .sub a { display: block; font-size: 19px; color: #aaa; line-height: 4.0;  font-weight: 600;  font-size: 20px; padding-left: 30%; box-sizing: border-box; }
.left_fix .tnb .sub a:hover { color: #000; background-color: #fff;}


  /*ft*/
.ft { width: 100vw;  height: auto; position: fixed; bottom: 0; left: 0; z-index: 80; box-sizing: border-box; padding-left:5%; color: #ddd; background-color: rgba(0,0,0); }
.ft .tit { line-height: 2.0; font-size: 18px; }

.ft p { float: left; line-height: 1.8; margin-right: 1%; font-size: 13px; }
.ft p.add { width: 100%; }
.ft p.add2 { float:left; width: 100%; } 
.ft p.add3  { width: 100%; }
.ft p.call { width: 100%; clear: both; }
.ft p.call:before { content: ""; display: block; width: 15px; height:15px; background-image: url("../sns/tell_s.png"); float: left; margin:1.5% ;  margin-right: 10px; background-color: #fff; border-radius: 20px;}


.ft .ft_box .sns { position:absolute;  padding: 0; right: 10%; bottom:25%; }
.ft .ft_box .sns li { float: left; width: 30px }

.ft .ft_box .sns li a { display: block; float: left; text-indent: -9999px; width: 20px; height: 20px; border-radius:35px; border: 2px solid #fff;  background-color: #fff;}
.ft .ft_box .sns li.sns1 a { background-image: url("../sns/face_m.png"); background-color: #fff;}
.ft .ft_box .sns li.sns1 a:hover { border-color: #3a5a9b; background-color:#3a5a9b; }
.ft .ft_box .sns li.sns2 a { background-image: url("../sns/insta_m.png");}
.ft .ft_box .sns li.sns2 a:hover { border-color: #86358d; background-color:#86358d; }
.ft .ft_box .sns li.sns3 a { background-image: url("../sns/kakao_m.png");}
.ft .ft_box .sns li.sns3 a:hover {border-color: #f8ef2c; background-color:#f8ef2c; }






