@charset "utf-8";
.content { width: 100vw; height: 100vh; clear:both; position:relative; }

.content .bread_c { width: 100%; height: 50px; background-color: #eee; padding: 10px 30px; box-sizing: border-box; }
.content .bread_c  .lst { width: 100%; clear:both; }
.content .bread_c  .lst li { float: left; }
.content .bread_c  .lst li a { display: block; line-height: 2.0; margin-right: 10px; cursor: pointer; color:#000; }
.content .bread_c  .lst li a:hover{ color: #aaa;}
.content .bread_c  .lst li:first-child a:after ,.content .bread_c  .lst li:nth-child(2) a:after{ content:">"; box-sizing: border-box; margin-left: 20px;}
/*vd 큰영역*/
.content .vd { width: 85%; margin: 10px auto;  padding-bottom: 50px; }
.content .vd .vd_box { width: 100%; height:1780px; overflow: hidden }
.content .vd .vd_box .wrap { width: 400%; }

/*브래드 영역*/
.content .vd .tit { width: 100%; height: 50px; line-height: 50px; box-sizing: border-box;  border-bottom: 1px solid #ddd;  }
.content .vd .tit { width: 100%; height: 50px; line-height: 50px; box-sizing: border-box;  border-bottom: 1px solid #ddd;  }
.content .vd .fr_box { width: 100%;  clear:both; margin-top: 10px; }
.content .vd .fr_box .sel { width: 20%; height: 30px; float: left; box-sizing:border; padding-left: 5px; margin-right: 15px; }
.content .vd .fr_box .search { width: 100%;  }
.content .vd .fr_box .search li { float:left;   }
.content .vd .fr_box .search .sr_txt { height:26px; width: 160px; margin-right: 5px}
.content .vd .fr_box .search .sr_btn { display: block;  height:30px; width: 60px; color:#eee; background-color:darkgray; border:0; border-radius: 3px; }

/*너비 306 */

.content .vd .vd_lst { width: 25%;  padding-top: 30px; box-sizing: border-box; float:left;  }

.content .vd .vd_lst li { width: 100%;  height: 320px; margin-top: 30px;  }
.content .vd .vd_lst li a { display: block; width:306px ; height: 260px; text-indent: -9999px; border-radius: 5px;}

/* 팝업창 오토플레이로 사용하기 */


.content .vd .vd_lst li.vd1 a { background-image: url(../pic/01.png);}
.content .vd .vd_lst li.vd2 a { background-image: url(../pic/02.png);}
.content .vd .vd_lst li.vd3 a { background-image: url(../pic/03.png);}
.content .vd .vd_lst li.vd4 a { background-image: url(../pic/04.png);}
.content .vd .vd_lst li.vd5 a { background-image: url(../pic/05.png);}
.content .vd .vd_lst li.vd6 a { background-image: url(../pic/06.png);}
.content .vd .vd_lst li.vd7 a { background-image: url(../pic/07.png);}
.content .vd .vd_lst li.vd8 a { background-image: url(../pic/08.png);}
.content .vd .vd_lst li.vd9 a { background-image: url(../pic/09.png);}
.content .vd .vd_lst li.vd10 a { background-image: url(../pic/10.png);}

.content .vd .vd_lst li p { height:40px; }
.content  button.prev,.content  button.next{ position:fixed; top:50%; display: block; width: 26px; height:70px; margin-top: -35px; border:0; border-radius: 5px;   text-indent: -9999px; background-color: #fff;}
.content  button.prev { left: 0; background-image: url(../icon/sub_arr_lb.png); }
.content  button.next { right: 0; background-image: url(../icon/sub_arr_rb.png);}