@charset "utf-8";
.content { width: 100vw; height: 100vh; clear:both; overflow-x: hidden;}

.content .bread_c { width: 100%; height: 50px; background-color: #eee; padding: 10px 30px; box-sizing: border-box; }
.content .bread_c  .lst { width: 100%; clear:both; }
.content .bread_c  .lst li { float: left; }
.content .bread_c  .lst li a { display: block; line-height: 2.0; margin-right: 10px; cursor: pointer; color:#000; }
.content .bread_c  .lst li a:hover{ color: #aaa;}
.content .bread_c  .lst li:first-child a:after ,.content .bread_c  .lst li:nth-child(2) a:after{ content:">"; box-sizing: border-box; margin-left: 20px;}
/*info 큰영역*/
.content .info { width: 85%; margin: 10px auto;  padding-bottom: 50px; background-image: url(../info/backje11.png); background-attachment: fixed; }

/*브래드 영역*/
.content .info .tit { width: 100%; height: 50px; line-height: 50px; box-sizing: border-box;  border-bottom: 1px solid #ddd; font-size: 20px;}
.content .info .tit { width: 100%; height: 50px; line-height: 50px; box-sizing: border-box;  border-bottom: 1px solid #ddd;  }

/*너비 306 */
.content .info .info_box { width: 100%;  }
.content .info .info_box .tit { font-size: 18px;}




